          <section class="elementor-section elementor-top-section elementor-element elementor-element-4808c19c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4808c19c" data-element_type="section" data-settings='{"background_background":"classic"}'>
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-274f38c8" data-id="274f38c8" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-ddf4cb0 elementor-widget elementor-widget-heading" data-id="ddf4cb0" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-default">
                            Pendapat Klien Tentang Nikahan.Link
                          </h3>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-58603bf elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="58603bf" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-divider">
                            <span class="elementor-divider-separator"> </span>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-6f298841 elementor-widget elementor-widget-heading" data-id="6f298841" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <p class="elementor-heading-title elementor-size-default">
                            Jika Anda Puas Beritahu Teman, Jika Anda Kecewa Beritahu Kami.
                          </p>
                        </div>
                      </div>
                      <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-dc85477 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="dc85477"
                        data-element_type="section"
                      >
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                            <div
                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-472dc756"
                              data-id="472dc756"
                              data-element_type="column"
                              data-settings='{"background_background":"classic"}'
                            >
                              <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                  <div class="elementor-element elementor-element-5b2dae65 elementor-widget elementor-widget-testimonial" data-id="5b2dae65" data-element_type="widget" data-widget_type="testimonial.default">
                                    <div class="elementor-widget-container">
                                      <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-left">
                                        <div class="elementor-testimonial-content">
                                          Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                        </div>

                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                          <div class="elementor-testimonial-meta-inner">
                                            <div class="elementor-testimonial-image">
                                              <img
                                                width="400"
                                                height="400"
                                                src="{{ STATIC_URL }}home/ava4.png"
                                                class="attachment-full size-full"
                                                alt=""
                                                loading="lazy"
                                                srcset="
                                                  https://json.levidio.id/wp-content/uploads/2020/07/ava4.png         400w,
                                                  https://json.levidio.id/wp-content/uploads/2020/07/ava4-300x300.png 300w,
                                                  https://json.levidio.id/wp-content/uploads/2020/07/ava4-150x150.png 150w
                                                "
                                                sizes="(max-width: 400px) 100vw, 400px"
                                              />
                                            </div>

                                            <div class="elementor-testimonial-details">
                                              <div class="elementor-testimonial-name">
                                                Nama Putra
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4ffdb2d0"
                              data-id="4ffdb2d0"
                              data-element_type="column"
                              data-settings='{"background_background":"classic"}'
                            >
                              <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                  <div class="elementor-element elementor-element-5249d8e9 elementor-widget elementor-widget-testimonial" data-id="5249d8e9" data-element_type="widget" data-widget_type="testimonial.default">
                                    <div class="elementor-widget-container">
                                      <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-left">
                                        <div class="elementor-testimonial-content">
                                          Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                        </div>

                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                          <div class="elementor-testimonial-meta-inner">
                                            <div class="elementor-testimonial-image">
                                              <img
                                                width="400"
                                                height="400"
                                                src="{{ STATIC_URL }}home/ava2.png"
                                                class="attachment-full size-full"
                                                alt=""
                                                loading="lazy"
                                                srcset="
                                                  https://json.levidio.id/wp-content/uploads/2020/07/ava2.png         400w,
                                                  https://json.levidio.id/wp-content/uploads/2020/07/ava2-300x300.png 300w,
                                                  https://json.levidio.id/wp-content/uploads/2020/07/ava2-150x150.png 150w
                                                "
                                                sizes="(max-width: 400px) 100vw, 400px"
                                              />
                                            </div>

                                            <div class="elementor-testimonial-details">
                                              <div class="elementor-testimonial-name">
                                                Nama Putra
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
